.profile-page {
    .block-1-profile {
        padding: 50px;
        text-transform: uppercase;
        background-color: #ffd60a;
        color: #fff;
        p{
            font-size: 13px;
        }
    }
}