.course-by-category-page {
    .block-1 {
        padding: 50px;
        text-transform: uppercase;
        background-color: #ffd60a;
        color: #fff;

        .choose-course {
            font-size: 13px;
        }
    }

    .name-category {
        border-radius: 25px;
        padding: 12px 16px;
        border: 2px solid #e4e4e4;
        outline: none;
        transition: .5s linear;
        font-weight: 500;
        margin: 20px 50px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        gap: 10px;

        i {
            color: #f6ba35;
        }
    }

    .list-course-by-category {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 10px;
        padding: 0px 50px;
        margin-bottom: 50px;

        &.list-course-by-category-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.list-course-by-category-tabnet {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}