.login-page {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/bgr-login.png);
}

.modal-authen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 80vh;
    display: flex;
    border-radius: 16px;
    flex: 1;
    outline: 0;
    border: null;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);

    .field {
        width: 100%;
        padding: 10px 15px;
        background-color: #eee;
        border: none;

        .field-check {
            width: 100%;
            background-color: #eee;

            .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                border-color: #41b294;
            }
        }
    }

    ;

    .block-1 {
        flex: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        background-color: #fff;

        .form-login {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;

            .error-message {
                text-align: left;
                color: rgba(240, 23, 23, .835);
                width: 100%;
                font-size: 15px;
                margin-top: 4px;
            }

            .btn-login {
                display: flex;
                justify-content: center;

                button {
                    border-radius: 20px;
                    border: 1px solid #36867b;
                    background: #36867b;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 12px 45px;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .desc {
            color: #252525;
            margin-bottom: 10px;
        }

        .field-pass {
            margin-top: 20px;
        }

        .btn-forget-password {
            button {
                color: #36867b;
                font-size: 16px;
                text-decoration: none;
                margin: 15px 0;
                border: none;
                background-color: #fff;
            }
        }
    }

    .block-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 20px;
        background-image: url(https://demo2.cybersoft.edu.vn/static/media/bg-all.2b72c7ac.png);
        background-size: cover;

        .btn-register {
            border-radius: 20px;
            border: 1px solid #36867b;
            background: #36867b;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .block-3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-image: url(https://demo2.cybersoft.edu.vn/static/media/bg-all.2b72c7ac.png);
        background-size: cover;
        color: #fff;

        &.block-3-tabnet {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
                max-width: 200px;
            }
        }


        .btn-login {
            border-radius: 20px;
            border: 1px solid #36867b;
            background: #36867b;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }


    .block-4 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        padding: 30px;

        .title {
            margin-top: 10px;
        }

        .form-register {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .error-message {
                text-align: left;
                color: rgba(240, 23, 23, .835);
                width: 100%;
                font-size: 15px;
                margin-top: 4px;
            }
        }

        .btn-form {
            display: flex;
            justify-content: center;

            .btn-register {
                border-radius: 20px;
                border: 1px solid #36867b;
                background: #36867b;
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-top: 15px;

                &:hover {
                    cursor: pointer;
                }
            }
        }


    }
}

.render-form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .title {
        color: #41b294
    }

    .desc {
        font-weight: bold;
    }
}

.render-form-register,
.render-form-register_succ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 20px;
    }

}