.login-page {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/bgr-login.png);
}

.modal-authen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    min-height: 800px;
    display: flex;
    border-radius: 8px;
    flex: 1;
    outline: 0;
    border: null;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);

    .block-1 {
        flex: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        background-color: #fff;

        .desc {
            color: #252525;
            margin-bottom: 10px;
        }

        .field {
            width: 100%;

            .field-check {
                width: 100%;
                background-color: #eee;

                .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                    border-color: #41b294;
                }
            }
        }

        .field-pass {
            margin-top: 20px;
        }

        .btn-forget-password {
            button {
                color: #36867b;
                font-size: 16px;
                text-decoration: none;
                margin: 15px 0;
                border: none;
                background-color: #fff;
            }
        }

        .btn-login {
            button {
                border-radius: 20px;
                border: 1px solid #36867b;
                background: #36867b;
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .block-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 20px;
        background-image: url(https://demo2.cybersoft.edu.vn/static/media/bg-all.2b72c7ac.png);
        background-size: cover;

        .btn-register {
            border-radius: 20px;
            border: 1px solid #36867b;
            background: #36867b;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .block-3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-image: url(https://demo2.cybersoft.edu.vn/static/media/bg-all.2b72c7ac.png);
        background-size: cover;
        color: #fff;

        .btn-login {
            border-radius: 20px;
            border: 1px solid #36867b;
            background: #36867b;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .block-4 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        padding: 30px;

        .title {
            margin-top: 10px;
        }

        .field {
            width: 100%;

            .field-check {
                width: 100%;
                background-color: #eee;

                .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                    border-color: #41b294;
                }
            }
        }

        .btn-register {
            border-radius: 20px;
            border: 1px solid #36867b;
            background: #36867b;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-top: 15px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.render-form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .title {
        color: #41b294
    }

    .desc {
        font-weight: bold;
    }

    .desc {}
}